doctype html

html
    head
        title Anithon Stats

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", type="text/css", href="/static/style.css")

        script(src="https://cdn.jsdelivr.net/npm/luxon@1.28.0/build/global/luxon.min.js")
        script(src="https://cdn.jsdelivr.net/npm/humanize-duration@3.25.1/humanize-duration.min.js")
        script(src="/static/script.js", async, defer)

    body
        block body
            main.content
                block main
