extends _base

block main
    script(src="/static/script.onboarding.js", async, defer)

    .onboarding
        input(name="user", placeholder="jojoxd")
        button(onclick="loadLists()") Load Lists

        .onboarding-error

    .lists.hidden
        select(name="list")
            option(selected, disabled, value="nope-nope-nope-nope") Select a list

        button(onclick="goToList()") Go to List
