html, body {
    margin: 0;

    background-color: rgb(11, 22, 34);

    color: rgb(159, 173, 189);

    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    /*font-size: 1.6rem;*/
}

main.content {
    margin: 0 auto;

    width: 70vw;
}

@media screen and (max-width: 992px) {
    main.content {
        margin: 0 auto;

        width: calc(100vw - 2rem);
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    main.content {
        margin: 0 auto;

        width: 90vw;
    }
}

/* Entry */
.entry {
    display: inline-grid;
    width: calc(100% / 4 - 2rem);

    grid-template-rows: 4rem 1fr;
    grid-column-gap: 0;

    margin: 1rem;

    background-color: rgb(21, 31, 46);
    color: rgb(133, 150, 165);

    border-radius: .5rem;
}

@media screen and (max-width: 992px) {
    .entry {
        width: calc(100% / 1 - 2rem);
        max-width: 100%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .entry {
        width: calc(100% / 2 - 2rem);
        max-width: 50%;
    }
}

.entry h2,
.entry h3 {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.entry .content {
    display: grid;
    grid-template-columns: 30% 70%;
}

.entry .content img {
    width: 100%;
    height: auto;

    margin-top: auto;
    border-bottom-left-radius: .5rem;
}

.entry .content .data {
    margin: 0 .5rem .5rem;
}

.entry .content hr {
    border-style: hidden;
    border-bottom: 1px solid rgb(11, 22, 34);
}

.entry .content .data .time {
    font-size: .75rem;
}

.entry .controls {
    display: block;
}

.entry .controls label {
    display: inline-block;
    font-style: italic;
    width: 80px;
}

.entry .controls input {
    display: inline-block;
    width: calc(100% - 90px);
}

.form-control {
    margin-bottom: .5rem;
}

input {
    border: 1px solid rgb(11, 22, 34);
    background: rgb(11, 22, 34);
    color: rgb(159, 173, 189);
}

input[type="number"] {
    text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    margin-left: .5rem;
}

/* Chunks */

.chunk {

}

.chunk h3 {
    font-size: 1.2rem;
}

.chunk h3.complete {
    color: green;
}

.chunk .info {

}

.chunk .info .info-box {

}

/* Chunk Infobox Labels */
.chunk .info .info-box span:nth-of-type(odd) {
    display: inline-block;
    width: 8rem;
    font-style: italic;
}

/* Chunk Infobox Data */
.chunk .info .info-box span:nth-of-type(even) {
    display: inline-block;
}
