@import "./mixins";
@import "./variables";

.form-control
{
  display: grid;

  grid-template:
    [row1-start] "label input" 1.4rem [row1-end]
               /  1fr   3fr;

  margin: .25rem;

  @include respond(mobile) {
    grid-template:
    [row1-start] "label" 1.4rem [row1-end]
    [row2-start] "input" auto [row2-end]
               /  100%;
  }

  label
  {
    grid-area: label;

    font-size: 1rem;

    &::after
    {
      content: ':';
    }
  }

  input,
  %input,
  select,
  button
  {
    grid-area: input;

    width: 50%;

    background: $foreground-color;
    border: 0;
    box-shadow: none;
    color: $text-color;
    outline: 0;
    transition: .2s;

    padding: .25rem;
    border-radius: .25rem;

    @include respond(mobile) {
      width: 100%;
    }
  }
}
