@import "./variables";
@import "./mixins";
@import "./form";

:root
{
  --popper-theme-background-color: #{lighten($background-color, 10%)};
  --popper-theme-text-color: #{lighten($text-color, 10%)};

  --popper-theme-background-color-hover: #{lighten($background-color, 10%)};
  --popper-theme-border-width: 0px;

  --popper-theme-border-style: solid;

  --popper-theme-border-radius: .2rem;
  --popper-theme-padding: .5rem;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

html,
body
{
  margin: 0;

  background-color: $background-color;
  color: $text-color;

  overflow-x: hidden;

  max-width: 100vw;

  font-family:
          Roboto,
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Oxygen,
          Ubuntu,
          Cantarell,
          Fira Sans,
          Droid Sans,
          Helvetica Neue,
          sans-serif;
}

body
{
  margin-top: 6rem;
}

a
{
  color: $link-text-color;
}

main.content
{
  margin: 0 auto;
  width: 70vw;

  @include respond(mobile) {
    width: calc(100vw - 2rem);
  }

  @include respond(tablet) {
    width: 90vw;
  }
}
